@font-face {
  font-family: "Proxima-Bold";
  src: url(/fonts/Proxima-Nova/ProximaNova-Bold.woff);
}
@font-face {
  font-family: "Proxima-Semibold";
  src: url(/fonts/Proxima-Nova/ProximaNova-Semibold.woff);
}
@font-face {
  font-family: "PTsans-Bold";
  src: url(/fonts/PT-Sans/PTSans-Bold.woff);
}
@font-face {
  font-family: "PTsans-BoldItalic";
  src: url(/fonts/PT-Sans/PTSans-BoldItalic.woff);
}
@font-face {
  font-family: "PTsans-Italic";
  src: url(/fonts/PT-Sans/PTSans-Italic.woff);
}
@font-face {
  font-family: "PTsans-Regular";
  src: url(/fonts/PT-Sans/PTSans-Regular.woff);
}
