$font-proxima-bold: "Proxima-Bold";

$font-proxima-semibold: "Proxima-Semibold";

$font-pt-bold: "PTsans-Bold";

$font-pt-bold-italic: "PTsans-BoldItalic";

$font-pt-italic: "PTsans-Italic";

$font-pt-regular: "PTsans-Regular";
